  body {
        background-color: #eef;
        font-family: sans-serif;
        font-size: 80%;
    }

    #outer {
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
        text-align:center;
    }
    #page {
        display:inline-block;
        text-align:left;
        width:75%;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 20px 40px;
    }
    .page h1 {
        font-size: 1.5em;
        font-weight: normal;
    }
    .page code {
        display: block;
        border: 1px solid #ccc;
        background-color: #eee;
        color: #666;
        padding: 1em 2em;
    }
    .emphasize {
      text-transform: uppercase;
      font-weight: bold;
    }


    .indent{
        position:relative;
        display:table;
        margin-left:30px;
        margin-right: auto;
    }

    /* table styling */
    #customers-tbl{

        width:100%;
        overflow: hidden;

    }
    #customers-tbl td {
        padding-left:5px;
        padding-right:5px;
    }
    #customers-tbl thead{
        color:white;
        background-color: #80cd92;
        height:28px;
        font-weight: bold;
    }
    #customers-tbl th{
        cursor:pointer;
    }
    #table-nav{
        position:relative;
        display:table;
        font-size: 18px;
        line-height: 18px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; 
        height:30px;
    }


    /* table nav styling */
    .sort-btn{
        border-radius: 2px;
        width:150px;
        height:30px;
        font-weight: bold;  
    }
    .left-label{
        position:absolute;
        right:100%;
        width:100px;
        text-align: center;
    }

    /* BAR CHART */

    #chart{
        
        margin-top: 40px;
    }
    .bar{
        font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
    }